# dist file for Inspection
git      /extensions/Inspection            git://github.com/oe-legacy/extensions-Inspection.git
git-dev  /extensions/Inspection            git@github.com:oe-legacy/extensions-Inspection.git
